<div class='imageslide'>
	<img src='{{ profilePicture }}'/>&nbsp;&nbsp;
	<img src='{{ profilePicture }}'/>&nbsp;&nbsp;
	<img src='{{ profilePicture }}'/>&nbsp;&nbsp;
</div><br/>
<h1>{{ name }}</h1><span>Age - 00</span><br/><br/>
<strong>City - </strong> {{ city }}<br/><br/>
<strong>Sexual Attraction - </strong> {{ sexualAttraction }} <br/><br/>
<strong>Biological Sex - </strong> {{ biologicalSex }}