<hi>{{ title }}</h1>
<p><strong>will expire in {{ time_remaining }}</strong></p>
<p>value - {{ value }}</p>
<label>Recompense - </label>
<p>{{ recompense }}</p>
<label>Description - </label>
<p>{{ description }}</p>

<input type="button" name="select-this" value="Give" />
<input type="button" name="report" value="Inapporopiate" />
<a href="#">close</a>